body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:301px;
}
#u0 {
  position:absolute;
  left:0px;
  top:850px;
  width:1200px;
  height:300px;
  color:#FFFFFF;
}
#u1 {
  position:absolute;
  left:2px;
  top:142px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:751px;
}
#u2 {
  position:absolute;
  left:0px;
  top:100px;
  width:1200px;
  height:750px;
}
#u3 {
  position:absolute;
  left:2px;
  top:367px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:632px;
}
#u5 {
  position:absolute;
  left:700px;
  top:150px;
  width:300px;
  height:632px;
}
#u6 {
  position:absolute;
  left:2px;
  top:308px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:505px;
}
#u7 {
  position:absolute;
  left:725px;
  top:194px;
  width:253px;
  height:505px;
}
#u8 {
  position:absolute;
  left:2px;
  top:244px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:31px;
}
#u9 {
  position:absolute;
  left:50px;
  top:200px;
  width:421px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u10 {
  position:absolute;
  left:0px;
  top:3px;
  width:421px;
  white-space:nowrap;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:31px;
}
#u11 {
  position:absolute;
  left:50px;
  top:260px;
  width:449px;
  height:30px;
  font-size:16px;
  color:#FF0000;
}
#u12 {
  position:absolute;
  left:0px;
  top:6px;
  width:449px;
  white-space:nowrap;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:290px;
}
#u13 {
  position:absolute;
  left:50px;
  top:350px;
  width:400px;
  height:290px;
}
#u14 {
  position:absolute;
  left:2px;
  top:137px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:41px;
}
#u15 {
  position:absolute;
  left:400px;
  top:890px;
  width:400px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:center;
}
#u16 {
  position:absolute;
  left:0px;
  top:6px;
  width:400px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:151px;
}
#u17 {
  position:absolute;
  left:100px;
  top:950px;
  width:1000px;
  height:150px;
  color:#FFFFFF;
  line-height:28px;
}
#u18 {
  position:absolute;
  left:0px;
  top:-9px;
  width:1000px;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:321px;
}
#u19 {
  position:absolute;
  left:0px;
  top:1150px;
  width:400px;
  height:320px;
  font-family:'iconfont Medium', 'iconfont';
  font-weight:500;
  font-style:normal;
  line-height:24px;
}
#u20 {
  position:absolute;
  left:5px;
  top:130px;
  width:390px;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:321px;
}
#u21 {
  position:absolute;
  left:400px;
  top:1150px;
  width:400px;
  height:320px;
  font-family:'iconfont Medium', 'iconfont';
  font-weight:500;
  font-style:normal;
  line-height:24px;
}
#u22 {
  position:absolute;
  left:5px;
  top:130px;
  width:390px;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:321px;
}
#u23 {
  position:absolute;
  left:800px;
  top:1150px;
  width:400px;
  height:320px;
  font-family:'iconfont Medium', 'iconfont';
  font-weight:500;
  font-style:normal;
  line-height:24px;
}
#u24 {
  position:absolute;
  left:5px;
  top:130px;
  width:390px;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:321px;
}
#u25 {
  position:absolute;
  left:0px;
  top:1470px;
  width:400px;
  height:320px;
  font-family:'iconfont Medium', 'iconfont';
  font-weight:500;
  font-style:normal;
  line-height:24px;
}
#u26 {
  position:absolute;
  left:5px;
  top:130px;
  width:390px;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:321px;
}
#u27 {
  position:absolute;
  left:400px;
  top:1470px;
  width:400px;
  height:320px;
  font-family:'iconfont Medium', 'iconfont';
  font-weight:500;
  font-style:normal;
  line-height:24px;
}
#u28 {
  position:absolute;
  left:5px;
  top:130px;
  width:390px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:321px;
}
#u29 {
  position:absolute;
  left:800px;
  top:1470px;
  width:400px;
  height:320px;
  font-family:'iconfont Medium', 'iconfont';
  font-weight:500;
  font-style:normal;
  line-height:24px;
}
#u30 {
  position:absolute;
  left:5px;
  top:130px;
  width:390px;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:101px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:100px;
}
#u32 {
  position:absolute;
  left:2px;
  top:42px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u33 {
  position:absolute;
  left:50px;
  top:10px;
  width:80px;
  height:80px;
}
#u34 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:41px;
}
#u35 {
  position:absolute;
  left:140px;
  top:30px;
  width:168px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u36 {
  position:absolute;
  left:0px;
  top:4px;
  width:168px;
  white-space:nowrap;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u37 {
  position:absolute;
  left:550px;
  top:30px;
  width:100px;
  height:40px;
  color:#D8B5FF;
  text-align:center;
}
#u37_img.mouseOver {
}
#u37.mouseOver {
}
#u37_img.selected {
}
#u37.selected {
}
#u38 {
  position:absolute;
  left:0px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u39 {
  position:absolute;
  left:650px;
  top:30px;
  width:100px;
  height:40px;
  color:#D8B5FF;
  text-align:center;
}
#u39_img.mouseOver {
}
#u39.mouseOver {
}
#u39_img.selected {
}
#u39.selected {
}
#u40 {
  position:absolute;
  left:0px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:351px;
}
#u41 {
  position:absolute;
  left:0px;
  top:1800px;
  width:1200px;
  height:350px;
  color:#FFFFFF;
}
#u42 {
  position:absolute;
  left:2px;
  top:314px;
  width:1196px;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u43 {
  position:absolute;
  left:700px;
  top:1890px;
  width:160px;
  height:160px;
}
#u44 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:31px;
}
#u45 {
  position:absolute;
  left:700px;
  top:1850px;
  width:160px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u46 {
  position:absolute;
  left:0px;
  top:6px;
  width:160px;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u47 {
  position:absolute;
  left:1130px;
  top:2080px;
  width:40px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u48 {
  position:absolute;
  left:0px;
  top:2px;
  width:40px;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u49 {
  position:absolute;
  left:900px;
  top:1890px;
  width:160px;
  height:160px;
}
#u50 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:31px;
}
#u51 {
  position:absolute;
  left:900px;
  top:1850px;
  width:160px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u52 {
  position:absolute;
  left:0px;
  top:6px;
  width:160px;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:21px;
}
#u53 {
  position:absolute;
  left:100px;
  top:1850px;
  width:67px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:21px;
}
#u55 {
  position:absolute;
  left:100px;
  top:1890px;
  width:65px;
  height:20px;
  color:#FFFFFF;
}
#u55_img.mouseOver {
}
#u55.mouseOver {
}
#u56 {
  position:absolute;
  left:0px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:21px;
}
#u57 {
  position:absolute;
  left:100px;
  top:1930px;
  width:66px;
  height:20px;
  color:#FFFFFF;
}
#u57_img.mouseOver {
}
#u57.mouseOver {
}
#u58 {
  position:absolute;
  left:0px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:21px;
}
#u59 {
  position:absolute;
  left:300px;
  top:1850px;
  width:65px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:21px;
}
#u61 {
  position:absolute;
  left:300px;
  top:1890px;
  width:247px;
  height:20px;
  color:#FFFFFF;
  line-height:28px;
}
#u61_img.mouseOver {
}
#u61.mouseOver {
}
#u62 {
  position:absolute;
  left:0px;
  top:-4px;
  width:247px;
  white-space:nowrap;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:21px;
}
#u63 {
  position:absolute;
  left:300px;
  top:1930px;
  width:215px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
  line-height:28px;
}
#u64 {
  position:absolute;
  left:0px;
  top:-4px;
  width:215px;
  white-space:nowrap;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u65 {
  position:absolute;
  left:970px;
  top:1520px;
  width:60px;
  height:60px;
}
#u66 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u67 {
  position:absolute;
  left:970px;
  top:1200px;
  width:60px;
  height:60px;
}
#u68 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u69 {
  position:absolute;
  left:170px;
  top:1200px;
  width:60px;
  height:60px;
}
#u70 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u71 {
  position:absolute;
  left:570px;
  top:1520px;
  width:60px;
  height:60px;
}
#u72 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u73 {
  position:absolute;
  left:570px;
  top:1200px;
  width:60px;
  height:60px;
}
#u74 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u75 {
  position:absolute;
  left:170px;
  top:1520px;
  width:60px;
  height:60px;
}
#u76 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:1300px;
  top:50px;
  width:605px;
  height:185px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:31px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  color:#FFFFFF;
}
#u79 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:31px;
}
#u80 {
  position:absolute;
  left:150px;
  top:0px;
  width:450px;
  height:30px;
  color:#FFFFFF;
}
#u81 {
  position:absolute;
  left:2px;
  top:7px;
  width:446px;
  word-wrap:break-word;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:31px;
}
#u82 {
  position:absolute;
  left:0px;
  top:30px;
  width:150px;
  height:30px;
  color:#1E1E1E;
}
#u83 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:31px;
}
#u84 {
  position:absolute;
  left:150px;
  top:30px;
  width:450px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u85 {
  position:absolute;
  left:10px;
  top:7px;
  width:438px;
  word-wrap:break-word;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:31px;
}
#u86 {
  position:absolute;
  left:0px;
  top:60px;
  width:150px;
  height:30px;
  color:#1E1E1E;
}
#u87 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:31px;
}
#u88 {
  position:absolute;
  left:150px;
  top:60px;
  width:450px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u89 {
  position:absolute;
  left:10px;
  top:7px;
  width:438px;
  word-wrap:break-word;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:31px;
}
#u90 {
  position:absolute;
  left:0px;
  top:90px;
  width:150px;
  height:30px;
  color:#1E1E1E;
}
#u91 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:31px;
}
#u92 {
  position:absolute;
  left:150px;
  top:90px;
  width:450px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u93 {
  position:absolute;
  left:10px;
  top:7px;
  width:438px;
  word-wrap:break-word;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:31px;
}
#u94 {
  position:absolute;
  left:0px;
  top:120px;
  width:150px;
  height:30px;
  color:#1E1E1E;
}
#u95 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:31px;
}
#u96 {
  position:absolute;
  left:150px;
  top:120px;
  width:450px;
  height:30px;
  color:#1E1E1E;
  text-align:left;
}
#u97 {
  position:absolute;
  left:10px;
  top:7px;
  width:438px;
  word-wrap:break-word;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:31px;
}
#u98 {
  position:absolute;
  left:0px;
  top:150px;
  width:150px;
  height:30px;
}
#u99 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:31px;
}
#u100 {
  position:absolute;
  left:150px;
  top:150px;
  width:450px;
  height:30px;
  text-align:left;
}
#u101 {
  position:absolute;
  left:10px;
  top:7px;
  width:438px;
  visibility:hidden;
  word-wrap:break-word;
}
